@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(120deg, #f665f6 0%, #2d2b2b 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(255, 255, 255, 0.7);
}

.container > h1 {
    text-shadow: 1px 1px rgb(200, 200, 200);
}

.container > p {
    font-size: 17px;
}

.container > .removing {
    font-size: 17px;
    letter-spacing: 2px;
}

.custum-file-upload {
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    margin: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
    display: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.buttons button {
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ed5e37;
    border-radius: 5px;
    cursor: pointer;
    color: #ffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.buttons button:hover {
    background-color: #aa5b45;
}

#resultImage {
    margin: 20px 0;
}